[submodule "eke_python"]
	path = eke_python
	url = https://github.com/tritoke/eke_python
[submodule "srp_python"]
	path = srp_python
	url = https://github.com/tritoke/srp_python
[submodule "aucpace_embedded"]
	path = aucpace_embedded
	url = https://github.com/tritoke/aucpace_embedded
[submodule "opaque_embedded"]
	path = opaque_embedded
	url = https://github.com/tritoke/opaque_embedded
